$size:auto;
$bgcolor:rgba(0, 0, 0, 0.363);
$bgimage:black;
$padding:10px;
$colorg:rgb(211, 210, 210);
$font1:'Aladin', cursive;
$font2:'Allerta Stencil', sans-serif;
$font3:'Berkshire Swash', cursive;
$font4:'Beth Ellen', cursive;
$font5:'Condiment', cursive;
$font6:'Damion', cursive;
$font7:'Merriweather', serif;
$font8:'Pattaya', sans-serif;
$font9:'Playfair Display', serif;

